{
  "presets": [
    ["next/babel"],
    ["env", {
      "targets": {
        "browsers": [
          "chrome >= 52",
          "firefox >= 47",
          "ie >= 10",
          "edge >= 13",
          "safari >= 9"
        ]
      }
    }]
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime"
  ]
}
