{
  "presets": [
    ["next/babel"],
    ["env", {
      "targets": {
        "browsers": [
          "chrome >= 52",
          "firefox >= 47",
          "ie >= 9",
          "edge >= 13",
          "safari >= 9"
        ]
      },
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime"
  ]
}
