<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="static/images/etcher.ico"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Etcher by resin.io</title>

    <!-- Bootstrap -->
    <link href="static/styles/main.css?v=1.1" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
    mixpanel.init("99eec53325d4f45dd0633abd719e3ff1");</script><!-- end Mixpanel -->
    <!-- end Mixpanel -->
    <script>
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');
      _gs('GSN-954701-N');
    </script>
    <!-- goSquared -->
    <!-- Ga -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45671959-2', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Ga -->
  </head>
  <body id="app">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="static/images/etcher-dark.png" srcset="static/images/etcher-dark@2x.png 2x"/></a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav navbar-right">
            
              <li><a v-cloak data-track-id="nav button" data-toggle="modal" data-target="" data-track="[etcher website] link click https://github.com/resin-io/etcher" href="https://github.com/resin-io/etcher">Repository</a></li>
            
              <li><a v-cloak data-track-id="nav button" data-toggle="modal" data-target=".videoModal" data-track="[etcher website] link click #video" href="#video">How it works</a></li>
            
            <!-- Split button -->
            <template v-if="dynamicLink.mobile">
              <a class="btn btn-primary" data-track="[etcher website] Email myself link" href="mailto:{{ dynamicLink.link }}">{{ dynamicLink.buttonText }}<a>
            </template>
            <div v-else class="btn-group">
              <a href="{{ dynamicLink.link }}" v-cloak class="btn btn-primary" data-track-id="nav button" data-track="[etcher website] download" data-track-attrs="{{ dynamicLink | json }}" v-text="dynamicLink.buttonText" role="button"></a>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li v-cloak v-for="download in downloads"><a v-cloak href="{{ download.link }}" data-track="[etcher website] download" data-track-attrs="{{ download | json }}" v-text="download.prettyName"></a></li>
              </ul>
            </div>
            <!-- Split button -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section class="content">
      <div class="container">
        <!-- Jumbo -->
        <div class="jumbotron">
          <h1><img class="logo" src="static/images/etcher-light.png" srcset="static/images/etcher-light@2x.png 2x"/></h1>
          <h2>A better way to burn OS images</h2>

          <!-- Split button -->
          <template v-if="dynamicLink.mobile">
            <p>Visit from your PC to download Etcher</p>
            <a class="btn btn-success btn-lg" data-track="[etcher website] Email myself link" href="mailto:{{ dynamicLink.link }}">{{ dynamicLink.buttonText }}<a>
          </template>
          <div v-else class="btn-group">
            <a href="{{ dynamicLink.link }}" v-cloak class="btn btn-success btn-lg" data-track-id="jumbotron button" data-track="[etcher website] download" data-track-attrs="{{ dynamicLink | json }}" v-text="dynamicLink.buttonText" role="button"></a>
            <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li v-cloak v-for="download in downloads"><a v-cloak href="{{ download.link }}" data-track="[etcher website] download" data-track-attrs="{{ download | json }}" v-text="download.prettyName"></a></li>
            </ul>
          </div>
          <!-- Split button -->
          <p v-cloak v-text="version" class="version"></p>

          <div class="social">
            <!-- Place this tag where you want the button to render. -->
            <!-- Place this tag where you want the button to render. -->
            <a class="twitter-share-button"
              href="https://twitter.com/share"
              data-size="large"
              data-url="http://www.etcher.io"
              data-hashtags="maker, IoT, opensource"
              data-text="Introducing Etcher, a better (open source) way to burn OS images">
            Tweet
            </a>
            <a class="github-button" href="https://github.com/resin-io/etcher" data-style="mega" data-count-href="/resin-io/etcher/stargazers" data-count-api="/repos/resin-io/etcher#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star resin-io/etcher on GitHub">Star</a>
          </div>
        </div>

        <!-- Features -->
        <div class="features">
          <div class="row">
            
            <div class=" col-md-4 feature">
              <span class="label"></span>
              <div class="image-container">
                <img src="static/images/icons/open_source_icon.png" srcset="static/images/icons/open_source_icon@2x.png 2x">
              </div>
              <h2>Open Source</h2>
              <p>Open for you to play with, poke, prod and extend to make it your own</p>
            </div>
            
            <div class=" col-md-4 feature">
              <span class="label"></span>
              <div class="image-container">
                <img src="static/images/icons/screen_icon.png" srcset="static/images/icons/screen_icon@2x.png 2x">
              </div>
              <h2>Cross Platform</h2>
              <p>Works for everyone, no more complicated install instructions.</p>
            </div>
            
            <div class=" faded  col-md-4 feature">
              <span class="label">Coming Soon</span>
              <div class="image-container">
                <img src="static/images/icons/SD_icon.png" srcset="static/images/icons/SD_icon@2x.png 2x">
              </div>
              <h2>Card Validation</h2>
              <p>Save time by checking if cards are currupted before you burn</p>
            </div>
            
            <div class=" col-md-4 feature">
              <span class="label"></span>
              <div class="image-container">
                <img src="static/images/icons/SD_icon.png" srcset="static/images/icons/SD_icon@2x.png 2x">
              </div>
              <h2>Hard Drive Friendly</h2>
              <p>Makes drive selection obvious avoid wiping your entire harddrive</p>
            </div>
            
            <div class=" col-md-4 feature">
              <span class="label"></span>
              <div class="image-container">
                <img src="static/images/icons/github_server_icon.png" srcset="static/images/icons/github_server_icon@2x.png 2x">
              </div>
              <h2>Powered by {{{ electron }}}</h2>
              <p>Built with Web Technologies, so it&#39;s easy customize</p>
            </div>
            
            <div class=" col-md-4 feature">
              <span class="label"></span>
              <div class="image-container">
                <img src="static/images/icons/simple_icon.png" srcset="static/images/icons/simple_icon@2x.png 2x">
              </div>
              <h2>Beautifully Simple</h2>
              <p>Did we mention it&#39;s pretty pretty?</p>
            </div>
            
          </div>
          <div id="trigger"></div>
        </div> <!-- features -->
      </div>  <!-- /container -->
      <!-- product -->
      <div class="product">
        <!-- <div class="screen-shot"></div> -->
        <img id="screen-shot" src="/static/images/product.gif"></div>
      </div>
    </section> <!-- /content -->

    <footer>
      <div class="container">
        <div class="call-out">
          <h2>Start burning your images the easy way</h2>
          <!-- Split button -->
          <template v-if="dynamicLink.mobile">
            <a class="btn btn-primary btn-lg" data-track="[etcher website] Email myself link" href="mailto:{{ dynamicLink.link }}">{{ dynamicLink.buttonText }}<a>
          </template>
          <div v-else class="btn-group">
            <a href="{{ dynamicLink.link }}" v-cloak class="btn btn-primary btn-lg" data-track-id="well button" data-track="[etcher website] download" data-track-attrs="{{ dynamicLink | json }}" role="button">{{ dynamicLink.buttonText }}</a>
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li v-cloak v-for="download in downloads"><a v-cloak href="{{ download.link }}" data-track="[etcher website] download" data-track-attrs="{{ download | json }}" v-text="download.prettyName"></a></li>
            </ul>
          </div>
          <!-- Split button -->
        </div>
        <hr>
        <div class="navbar">
          <ul class="nav navbar-nav navbar-left">
            
              <li><a data-track-id="bottomNav button" data-toggle="modal" data-target="" data-track="[etcher website] link click https://github.com/resin-io/etcher" href="https://github.com/resin-io/etcher">Repository</a></li>
            
              <li><a data-track-id="bottomNav button" data-toggle="modal" data-target="" data-track="[etcher website] link click https://resin.io" href="https://resin.io">About Us</a></li>
            
              <li><a data-track-id="bottomNav button" data-toggle="modal" data-target="" data-track="[etcher website] link click https://resin.io/blog" href="https://resin.io/blog">Blog</a></li>
            
              <li><a data-track-id="bottomNav button" data-toggle="modal" data-target=".videoModal" data-track="[etcher website] link click #video" href="#video">How it works</a></li>
            
          </ul>
        </div>
        <div class="well">
          We also make: <a href="https://resin.io">resin.io</a> - modern devops for the industrial Internet of Things
        </div>
      </div> <!-- /container -->
    </footer>
    <!-- video modal -->
    <div class="modal fade videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <iframe src="https://player.vimeo.com/video/158621734" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <!-- video modal -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/vue/dist/vue.min.js"></script>
    <script src="bower_components/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="bower_components/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
    <script src="static/js/etcher.min.js"></script>
    <script src="bower_components/sniffr/dist/sniffr.min.js"/></script>

    <script src="static/js/main.js?v=1.1"></script>

    <!-- // social // -->
    <!-- Place this tag right after the last button or just before your close body tag. -->
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
    </script>

    <!-- // social // -->
  </body>
</html>
