$colorBlue: rgb(103, 177, 231);
$colorBlack: #2e2f2f;
$colorGrey: rgb(123, 123, 128);
$colorLightGrey: #6c6d6d;
$colorBorder: #d6dbde;
$margin: 20px;
$bdRadius: 100px;


@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixin";
@import "custom-bootstrap";

body {
  font-family: 'proxima-nova', sans-serif, Arial;
}

h1 {
  font-weight: bold;
}

h2 {
  color: $colorBlack;
}

p {
  font-weight: regular;
  font-size: 16px;
  line-height: 1.6;
  color: $colorLightGrey;
}

.btn {
  letter-spacing: 0.8px;
  font-weight: medium;
  text-transform: uppercase;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    zoom: 1;
    background-image: url("../images/hero_img.png"), linear-gradient(#343636, #343636);
    background: #343636;
}

// nav
.navbar-default {
  margin-bottom: 0;
  background: none;
  position: absolute;
  top: 10px;
  border: none;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;

  .btn {
    vertical-align: inherit;
  }
  .btn-group {
    margin-top: -5px;
    > .btn {
      background: rgba(255,255,255,0.5);
      border:none;
    }
    .btn+.btn {
      margin-left: 0;
    }
  }
  li {
    font-size: 15px;
    font-weight: light;
    display: inline-block;
    float: none;
  }

  .navbar-nav>li>a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }

  .navbar-nav>.open>a{
    background-color: $colorGrey;
    color: #fff;
  }
  .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {
    background-color: $colorGrey;
    color: #fff;

  }

  iframe {
    display: inline-block;
    vertical-align: middle;
  }
}

.navbar-brand > img {
  max-width: 115px;
  @include breakpoint(small) {
    margin: auto;
  };
}

.navbar-brand {
  @include breakpoint(small) {
    float: none;
  };
}


.navbar-brand.title .sub-title a {
  color: $colorBlack;
}

.story {
  position: relative;
  color: #fff;
  padding: $margin*3 0;
  p {
    color: #fff;
  }
  h2 {
    text-align: center;
    color: #fff;
  }
}

// content
.content {
  position: relative;
  color: #fff;
}

.jumbotron {
  padding-top: 15%;
  background: none;
  text-align: center;

  .description {
    margin-bottom: $margin;
    color: #fff;
    letter-spacing: 0.5px;
  }

  .version {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
  }
}

.features {
  background: #F0F4F6;
  padding-bottom: $margin*3;

  h3 {
    color: #b5b8b9;
    margin-bottom: 30px;
  }

  .feature {
    text-align: center;
    margin-bottom: $margin;
    min-height: 250px;
    position: relative;

    .image-container {
      min-height: 60px;
    }
    img {
      margin: 0 auto;
    }
    .label {
      font-style: italic;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 10px;
    }
  }
}

.dropdown-menu {
  border:none;
  li {
    width: 100%;
    a {
      color: $colorGrey
    }
  }
}

.instructions {
  display: none;
  h3 {
    font-size: 40px;
  }
}


#screen-shot {
  margin: 0 auto;
  @include transition(1s);
  width: 100%;
  max-width: 880px;
  padding: 20px;
}

.product {
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
}

.fadeIn {
  position: relative;
  opacity: 0;
  top: -100px;
  @include transition(0.8s)
}

.fadeIn.active {
  opacity: 1;
  top: 0px;
}

// element to trigger screen-shot slide in.
#trigger {
  position: absolute;
  top: 50%;
}

// Footer
.section-inverse {
  position: relative;
  color: #fff;
  a {
    color: $colorGrey;
  }
}

footer {
  padding: $margin*2;
  color: $colorGrey;
  background: #fff;
  position: static;
  z-index: 2;
  .navbar-nav {
    float: none !important;
    margin: auto;
    display: table;
    li {
      float: none;
      font-weight: bold;
      a {
        color: $colorLightGrey;
        &:hover {
          background: none;
          color: #fff;
        }
      }
    }
  }
}

.resin-link {
  color: #fff !important;
}

.call-out {
  text-align: center;
  margin: $margin*2 0;
  h3 {
    display: inline-block;
    margin:$margin $margin/2 $margin 0;
    vertical-align: sub;
    font-size: 20px;
  }
}
// Footer

.resin-logo {
  margin-left: 10px;
  max-width: 80px;
}

footer {
  font-weight: normal;
  @include breakpoint(medium) {
    text-align: center;
  };
}

.features {
  .feature {
    min-height: 275px;
    padding: 20px;
    margin-bottom: 0;
    @include breakpoint(medium) {
      border:none;
    }
  }
}

.downloads {
  padding: 60px 0;
  h2 {
    text-align: center;
  }
}

.btn-group {
  > a {
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .dropdown-toggle {
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.logo {
  margin: 20px 0;
}
