$colorBlue: rgb(103, 177, 231);
$colorBlack: rgb(75, 75, 75);
$colorGrey: rgb(123, 123, 128);
$margin: 20px;

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixin";
@import "custom-bootstrap";

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// nav
.navbar-default {
  margin-bottom: 0;

  .btn {
    vertical-align: inherit;
  }
  .btn-group {
    margin-top: -5px;
  }
  li {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    float: none;
  }

  iframe {
    display: inline-block;
    vertical-align: middle;
  }
}

.navbar-brand > img {
  max-width: 115px;
}

.navbar-brand.title .sub-title a {
  color: $colorBlack;
}

.navbar-collapse {
  text-align: center;
  @include breakpoint(small) {
    li {
      display: block;
    }
  }
}
// nav


// content
.content {
  background-image: url("../images/hero_img.png"), linear-gradient(#4790c7, #4790c7);
  background-size: cover;
  position: relative;
  color: #fff;
}

.jumbotron {
  background: none;
  text-align: center;
  .btn {
    text-transform: uppercase;
  }
  .logo {
    margin-top: 20px;
    max-width: 100%;
  }
  .version {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
  }
}

.features {
  position: relative;
  margin: $margin*3 0;

  .feature {
    text-align: center;
    margin-bottom: $margin;
    min-height: 250px;
    .image-container {
      min-height: 60px;
    }
    img {
      margin: 0 auto;
    }
  }
}

.dropdown-menu {
  min-width: 240px;
}

#screen-shot {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -500px;
  height: 500px;
  z-index: 1;
  @include transition(1s);
  @include breakpoint(medium) {
    height: auto;
    width: 80%
  }
}

.product {
  @include background-image-retina('../images/pattern', 'png');
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 0;
  @include breakpoint(small) {
    height: 200px;
  }
}

.jumbotron > * {
  position: relative;
  opacity: 0;
  top: -50px;
  @include transition(.8s)
}

.jumbotron > *.appear {
  opacity: 1;
  top: 0px;
}


// Footer
footer {
  color: $colorGrey;
  background: #fff;
  position: static;
  z-index: 2;
   a {
    color: $colorGrey;
  }
  .well {
    text-align: center;
    font-size: 16px;
    font-family: "Helvetica";
    color: rgb(124, 124, 130);
    a {
      font-weight: 800;
    }
  }
}
.call-out {
  text-align: center;
  margin: $margin*2 0;
  h2 {
    display: inline-block;
    margin:0;
    margin:$margin $margin/2 $margin 0;
    vertical-align: sub;
    font-size: 26px;
    font-family: "Helvetica";
  }
}
// Footer
