// View all available vars
// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

// vars go here:
$blue: #1496E1;

@import 'bootstrap/scss/bootstrap.scss';

body {
  font-family: proxima-nova,'Open Sans',Tahoma,sans-serif;
}

// overwrite bts default
.bg-faded {
  background-color: #F0F4F6;
}

.jumbotron {
  img {
    max-width: 80%;
  }
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.bg-inverse, .text-white {
  a {
    color: #fff;

    &.dropdown-item {
      // download btn dropdown
      color: $gray-dark;
      cursor: pointer;
    }
  }

  .dropdown-menu {
    min-width: 100%;
  }
}

.share {
  > * {
    display: inline-block;
    margin-left: .5rem;
  }
  &:first-child {
    margin-left: 0;
  }
}

@include media-breakpoint-between(0, xs) {
  .btn-group {
    width: 100%;
    a {
      width: 100%;
    }
  }
}
