// View all available vars
// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

// vars go here:
$blue: #1496E1;
$gray: #c3c3c3;

@import 'node_modules/bootstrap/scss/bootstrap.scss';

body {
  font-family: proxima-nova,'Open Sans',Tahoma,sans-serif;
}

.z-0 {
  z-index: 0;
}

.bg-white {
  background: white;
}

// overwrite bts default
.bg-faded {
  background-color: #F0F4F6;
}

.screenshot {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.feature__img-container {
  max-width: 70px;
  min-height: 70px;
}

.bg-inverse, .text-white {
  a {
    color: #fff;

    &.dropdown-item {
      // download btn dropdown
      color: $gray-dark;
      cursor: pointer;
    }
  }

  .dropdown-menu {
    min-width: 100%;
  }
}

.share {
  > * {
    display: inline-block;
    margin-left: .5rem;
  }
  iframe {
    border: 0;
  }
  &:first-child {
    margin-left: 0;
  }
}

@include media-breakpoint-between(0, xs) {
  .btn-group {
    width: 100%;
    a {
      width: 100%;
    }
  }
}

pre code {
  background: $gray-lightest;
  padding: 5px 10px;
  width: 100%;
  display: block;
}

// pro page

// Jumbotron
.pro-jumbotron {
  background: $gray;
}
.pro-jumbotron__logo {
  max-width: 450px;
  height: 49px;
}

.pro-jumbotron__lead {
  font-weight: 500;
}

.pro-jumbotron__product {
  max-width: 740px;
}

// Subscribe
.subscribe__input {
  &:focus, &:active {
    color: $gray-dark;
  }
}

.pro-nav {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  transition: top .3s ease;
}

.pro-nav--hide {
  top: -100%;
}
