body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Helvetica Thin', Helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
}

.legacy-background-color {
  background-color: #535760;
}

.new-background-color {
  background-color: #4d5057;
}

a {
  color: #ffffff;
}

main {
  // height of the etcher webview
  height: 255px;
}

.grow {
  flex-grow: 1;
}

.horizontal {
  display: flex;
}

.vertical {
  @extend .horizontal;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-2 {
  margin-left: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  padding: 14px 44px;
  // margin-right: 15px;
  background-color: #313339;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;

  > img {
    margin: 0 0 0 10px;
  }
}

.icon {
  max-height: 24px;

  &.github {
    margin-right: 15px;
  }

  &.twitter {
    margin-right: 8px;
    margin-left: -4px;
  }

  &.etcherPro {
    height: 21px;
    margin-left: 8px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;

  > img, > a {
    margin: 0 0.5em;
  }

  > a > .brand {
    max-height: 24px;
  }

  > a > .version {
    position: absolute;
    bottom: 30px;
    right: 40px;
    color: #85898c;
    border-bottom: 1px solid #787c7f;
    font-size: 10px;
  }
}

h1 {
  display: inline-block;
  margin-top: 0;
  font-weight: 700;
  font-size: 28px;
}

.etcher-logo {
  margin-left: 8px;
  width: 130px;
}

.variantA {
  h1 {
    margin-top: 0;
  }

  .product-img {
    max-height: 115px;
  }

  .button {
    margin-bottom: 6px;
    margin-right: 60px;
  }
}
